html {
  font-family: sans-serif;
  background: #212;
  padding: 1rem;
  color: #dad
}

body {
  max-width: 1100px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #b9b;
  margin: 1rem 0;
}

.history {
  border-collapse: collapse;
  width: calc(100% - 6em);
  color: #fcf;
  max-height: calc(80vh - 4em);
  overflow: auto;
  padding: 3em;
  padding-top: 1em;
}

.historybody {
  width: inherit;
}

.historyrow {
  padding-bottom: .2em;
  margin-bottom: .2em;
  display: flex;
  flex-direction: column;
  color: black;
}

.wrapper {
  width: 70%
}

.bubble {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  background: PowderBlue;
  padding: .6em;
  border-radius: 15px;
  min-height: 3em;
}

.command {
}

.outcommand {
  align-self: flex-end;
  margin-bottom:.5em;
}

.response {
}

.outresponse {
  align-self: flex-start;
  margin-bottom: 2em;
}

.user {
  text-align: right;
}

.author {
  padding-top: .5em;
  color: SlateGray;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: #434;
  display: flex;
  align-items: center;
  padding: .5em;
}

nav h1 {
  flex: auto;
  margin: 0;
}

.inside {
  overflow: hidden;
  border-radius: 1em;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.4);
}

.content {
  padding: .2em;
  font-size: 1em;
  background: mintcream;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content form input {
  margin: 1em;
}

.content form label {
  margin: 1em .1em 1em 1em;
}

.prompt {
  flex-grow: 1;
  width: 80%;
  height: 2em;
  resize: none;
  border-width: 1px;
  border-style: solid;
  border-color: #b9b;
  border-radius: 0px;
  background: white;
  color: black;
}

input.danger {
  color: #cc2f2e;
}

.enter {
  border-width: 1px;
  border-style: solid;
  border-color: #b9b;
  border-radius: 0px;
  padding: 0;
  min-width: 0px;
  width: 2em;
  height: 2em;
  font-size: 1em;
  background: #313;
  color: #fcf;

}
