<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="inside">
  <nav>
    <h1>Game</h1>
  </nav>
  <section class="content">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
  <script type="text/javascript">
    {% block script %}{% endblock %}
  </script>
</div>
