{% extends 'base.html' %}
{% block title %}
Game
{% endblock %}

{% block script %}
{% if post_history|length %}

var h = document.getElementsByClassName("history");
var out = h[0];
var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;
if(!isScrolledToBottom)
    out.scrollTop = out.scrollHeight - out.clientHeight;
{% endif %}
{% endblock %}


{% block content %}
  {% if post_history|length %}
  <div class="history">
      {%- for post in post_history %}
      <div class="historyrow">
        {% if 'command' in post %}
        <div class="outcommand wrapper">
          <div class="command bubble">
            {{post['command']}}
          </div>
          {% if 'user' in post %}
          <div class="user author">
            {{post['user']}}
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% if 'response' in post %}
        <div class="outresponse wrapper">
          <div class="response bubble">
            {{post['response']}}
          </div>
          {% if 'peer' in post %}
          <div class="peer author">
            {{post['peer']}}
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {%- endfor %}
  </div>
  {% endif %}
  <form method="post">
    <label for="prompt">></label>
    <input class="prompt" name="prompt" id="prompt" autofocus>
    <input class="enter" type="submit" value="+">
  </form>
{% endblock %}
